<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
    <!-- <a class="navbar-brand" href="/">Tripply</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <h4>©️TripplyInc2017</h4>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item"> 
            <a class="nav-link" href="https://github.com/katiegoines">Katie Goines <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/coleherzer">Cole Herzer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/jrrouse88">Jason Rouse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/philipkarz">Phil Karz</a>
        </li>
        </ul>
    </div>
</nav>