<h1><%= user.name %>'s Profile Page</h1>


<form action="/users/profile/edit">
  <button type="submit" id="update">Edit Profile</button>
</form>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Create Trip
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="submit" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#submit').on('click', (evt) => {
    console.log('you clicked something')
    var newTrip = new Trip
    newTrip.user = req.user._id
    var formData = {
      "name": $('input[name=name'),
      "length": $('input[name=length'),
      "locale": $('input[name=locale')
    }
    $.ajax({
      url: '/users/profile',
      method: 'POST',
      data: formData,
      dataType: 'json'
    })
    .done((data) => {
      console.log(data)
    })
    evt.preventDefault()
  })
</script>