@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

.matchy-jumbo {
    padding: 5%!important;
    width: 80%!important; 
    background: rgb(109,179,242)!important; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 82%, rgba(54,144,240,1) 82%, rgba(30,105,222,1) 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 82%,rgba(54,144,240,1) 82%,rgba(30,105,222,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 82%,rgba(54,144,240,1) 82%,rgba(30,105,222,1) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

.edit-trip-jumbo {
    padding: 5%!important;
    width: 80%!important; 
    background: rgb(109,179,242)!important; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 82%, rgba(54,144,240,1) 82%, rgba(30,105,222,1) 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 82%,rgba(54,144,240,1) 82%,rgba(30,105,222,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 82%,rgba(54,144,240,1) 82%,rgba(30,105,222,1) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

.edit-profile-jumbo {
    padding: 5%!important;
    width: 80%!important; 
    background: rgb(109,179,242)!important; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 82%, rgba(54,144,240,1) 82%, rgba(30,105,222,1) 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 82%,rgba(54,144,240,1) 82%,rgba(30,105,222,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 82%,rgba(54,144,240,1) 82%,rgba(30,105,222,1) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

/* Styles for the profile.ejs page */
.profile {
    margin-top: 2rem; 
}

.trip {
    border: 1px solid black;
    border-radius: 6px; 
}

.trip-name {
    margin-top: 1rem; 
}

.trip-loc {
    margin-top: 1rem; 
}

.trip-des {
    margin-top: 1rem; 
}

.trip-button {
    margin-top: 1rem; 
}

.date-show {
    text-align: right; 
}

.details-show {
    text-align: right; 
}

.profile-edit {
    text-align: right; 
}

.new-trip-button-div {
    text-align: right; 
}

/* Styles for the trip.ejs page */
.trip-page {
    margin-top: 2rem; 
}

.day {
    border: 1px solid black;
    border-radius: 6px; 
}

/* Navbar styles */
.navbar-brand {
    font-size: 2.5rem; 
    font-family: 'Lobster Two', cursive;
    padding-top: 0!important; 
    padding-left: 2rem; 
}

.nav-item {
    font-size: 1.2rem; 
    padding-right: 1rem; 
}

.navbar {
    background: rgb(109,179,242); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 82%, rgba(54,144,240,1) 82%, rgba(30,105,222,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 82%,rgba(54,144,240,1) 82%,rgba(30,105,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 82%,rgba(54,144,240,1) 82%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

/* Home page  */
.jumbotron {
    background: rgba(39, 41, 41, 0.5);
    width: 60%; 
    margin: 5rem auto; 
}

.carousel-inner {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.canyon {
    position: absolute; 
    padding-bottom: 25rem!important; 
}

.browse-trips {
    margin: 1rem auto; 
    text-align: center; 
}

.jumbotron-alt {
    padding-top: 10%; 
    padding-bottom: 10%;
    background: rgba(154, 155, 155, 0.5); 
}

.jumbo-header {
    font-family: 'Lobster Two', cursive;
}

.jumbo-user-btn {
    text-align: center; 
}

/* All Trips Page */
@media only screen and (max-width:992px) {
    .card-box {
        width: 355px;
        margin: 0 auto; 
    }
}

@media only screen and (min-width:992px) {
    .card-box {
        width: 710px;
        margin: 0 auto; 
    }
}

@media only screen and (min-width:1200px) {
    .card-box {
        width: 1065px;
        margin: 0 auto; 
    }
}

.card {
    display: inline-block;
    margin: 15px;
    
}

.card-height {
    height: 375px;
}

/* Yelp Search Results */
.select-button {
    clear: both;
    float:right;
    margin-right: 15px;
}

.the-name {
    display: inline;
}

.card-width {
    width: 100%;
    margin: 10px auto;
}

#search-res {
    margin: 0 auto;
    padding: 50px;
}

/* Login and signup form page styles */
.login-home {
    text-align: center; 
}

.signup-signup {
    margin: 0 auto; 
    text-align: center; 
}

.signup-home {
    margin: 0 auto; 
    margin-top: 1rem; 
    text-align: center; 
}

.signup-container {
    margin-top: -2rem!important; 
}

.login-container {
    margin-top: -2rem!important; 
}


/*
MAP
*/

#map {
    height: 200px;
    width: 100%;
}

/* Edit trip view styles */
.edit-trip-back {
    text-align: right; 
}

.edit-trip-jumbo {
    margin: 3rem auto!important; 
}

.edit-profile-back {
    text-align: right; 
}

.edit-profile-jumbo {
    margin: 3rem auto!important; 
}

/* Styles for trip ejs */
.trip-edit-tripejs {
    text-align: left;
    margin-right: 1rem;
    margin-left: 1rem;
}

.add-activity-tripejs {
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

.add-activity-yelp-tripejs {
    text-align: right; 
    margin-left: 1rem;
}

.trip-ejs-header-btns {
    margin: 0 auto; 
}

.forecast-btn {
    text-align: center; 
}

.view-activity {
    text-align: right; 
}

/* Weather ejs page  */
.weather-page {
    padding: 5%!important;
    width: 80%!important; 
    background: rgb(109,179,242)!important; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 82%, rgba(54,144,240,1) 82%, rgba(30,105,222,1) 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 82%,rgba(54,144,240,1) 82%,rgba(30,105,222,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 82%,rgba(54,144,240,1) 82%,rgba(30,105,222,1) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

.forecast-back {
    text-align: right; 
}

p.weather-info {
    font-size: 2rem; 
}

.forecast-name {
    font-size: 3rem; 
}

.container {
    margin-bottom: 5rem; 
}

.footer {
    margin-top: 1rem; 
}