/* Styles for the profile.ejs page */
.profile {
    margin-top: 2rem; 
}

.trip {
    border: 1px solid black;
    border-radius: 6px; 
}

.trip-name {
    margin-top: 1rem; 
}

.trip-loc {
    margin-top: 1rem; 
}

.trip-des {
    margin-top: 1rem; 
}

.trip-button {
    margin-top: 1rem; 
}

/* Styles for the trip.ejs page */
.trip-page {
    margin-top: 2rem; 
}

.day {
    border: 1px solid black;
    border-radius: 6px; 
}

.activities {
    margin-left: 4rem; 
}