<h1>All Trips</h1>

<% for(var i = 0; i < trips.length; i ++) { %>
    <ul>
        <li><a href="/trips/<%= trips[i]._id %>"><%= trips[i].name %></a> - <%= trips[i].locale %> (user: <%= trips[i].user %>) </li>
    </ul>
<% } %>