<div class='container trip-page'>
    <div class='row'>
        <div class='col-8'>
            <h1><%= trip.name %></h1>
        </div>

        <div class='col-4'>
            <button class='new-activity-button'>
                <h3>Add Activity</h3>                
            </button>
        </div>
    </div>
    <!-- need to change the below section to be a div for each DAY
    In that day we want to see the name of each activity with the time (as list items)
    And a button that displays a modal of the activity details on click -->
    <div class='row day'>
        <!-- <%// trip.forEach(function(t) { %> -->
        <div class='col-12'>
            <h3>Ex: May 5th, 2017</h3>
        </div>
        <div class='row activities'>
                <div class='col-4 activity-name'>
                    <h6>Example: Breakfast at Grandma's</h6>
                </div>
                <div class='col-4 activity-time'>
                    <h6>Example: 8:30 A.M.</h6>
                </div>
                <div class='col-2'>

                </div>
                <div class='col-1 activity-button'>
                    <button>
                        See Details
                    </button>
                </div>
        </div>
        <!-- <%// }) %>  -->
    </div>
    <form action="/users/profile/edit">
        <button type="submit" id="update">Edit Profile</button>
    </form>	
</div>
    